<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ebazer">

    <application
        android:allowBackup="true"
        android:icon="@drawable/bicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Home_nav"
            android:label="@string/title_activity_home_nav"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".passwordUpdate" />
        <activity android:name=".HomePage" />
        <activity android:name=".forgot_pass" />
        <activity android:name=".verification" />
        <activity android:name=".singup" />
        <activity android:name=".signin" />
        <activity
            android:name=".splashscreen"
            android:theme="@style/splashthem">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>